// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@use "charts";

// custom tweaks for scrollbar styling (wip)
@use "scrollbar";

@import '@angular/material/prebuilt-themes/indigo-pink.css';

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

.inset-0{
  inset:0;
}

.h-fill-available {
  /* Luego los valores con prefijo como fallback */
  height: #{-webkit-fill-available}; /* Chrome, Safari */
}

.w-fill-available {
  /* Luego los valores con prefijo como fallback */
  width: #{-webkit-fill-available}; /* Chrome, Safari */
}
