<div class="position-absolute flex-grow-1 d-flex flex-column h-100 w-100 inset-0 bg-white dark:bg-transparent">
  <!-- Header -->
  <div class="d-flex flex-row align-items-center justify-content-between border-bottom p-3 p-md-4">
    <!-- Title -->
    <div class="h3 fw-bold mb-0 h2-sm">Fruta - Nuevo</div>
    <div class="d-flex align-items-center">
      <!-- Close button -->
      <close-button [routerLink]="['../']" />
    </div>
  </div>

  <!-- Compose form -->
  <form class="mt-4 d-flex flex-column p-3 p-md-4" autocomplete="off" [formGroup]="frutaForm">
    <div class="row g-4">

      <!-- Name -->
      <div class="col-12 col-sm-6 col-md-4">
        <mat-form-field class="d-flex align-items-center w-100">
          <mat-label>Nombre </mat-label>
          <input matInput [formControlName]="'nombre'" autocomplete="off" />
          @if (this.form['nombre'].hasError('required')) {
            <mat-error> Campo <strong>requerido</strong> </mat-error>
          }
          @if (this.form['nombre'].hasError('minlength')) {
            <mat-error> Mínimo <strong>2</strong> carácteres </mat-error>
          }
          @if (this.form['nombre'].hasError('maxlength')) {
            <mat-error> Máximo <strong>100</strong> carácteres </mat-error>
          }
        </mat-form-field>
      </div>
      <!-- Codigo -->
      <div class="col-12 col-sm-6 col-md-4">
        <mat-form-field class="d-flex align-items-center w-100">
          <mat-label>Código</mat-label>
          <input matInput [formControlName]="'codigo'" [spellcheck]="false" />
          @if (this.form['codigo'].hasError('maxlength')) {
            <mat-error> Máximo <strong>3</strong> carácteres </mat-error>
          }
        </mat-form-field>
      </div>
      <!-- Active -->
      <div class="col-12 col-sm-6 col-md-4 d-flex align-items-center">
        <mat-slide-toggle [formControlName]="'isActive'" [color]="'primary'">
          {{ isActiveControl?.value === true ? 'Habilitado' : 'Deshabilitado' }}
        </mat-slide-toggle>
      </div>
    </div>
    <!-- Actions -->
    <div class="mt-4 d-flex flex-row justify-content-between">
      <save-button appDebounceClick [disabled]="frutaForm.invalid || saving()" (debounceClick)="save()" />
    </div>
  </form>
</div>
