<div class="d-flex flex-grow-1">
    <form
        autocomplete="off"
        class="d-flex flex-grow-1 flex-column overflow-auto p-3 pt-5 p-sm-4 pt-sm-5"
        [formGroup]="roleForm"
    >
        <!-- Header -->
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 class="fw-bold text-uppercase mb-0">Rol - Editar</h3>
            <div class="d-flex align-items-center">
                <!-- More menu -->
              <menu-button [matMenuTriggerFor]="moreMenu" />
              <mat-menu #moreMenu="matMenu">
                <delete-menu-button appDeleteConfirmation (confirmationClick)="delete()" />
              </mat-menu>
                <!-- Close button -->
              <close-button [routerLink]="['../']" />
            </div>
        </div>

        <hr class="mt-0 mb-4">

        <div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    formControlName="name"
                    #nombreField
                    [class.is-invalid]="this._form['name'].invalid && (this._form['name'].dirty || this._form['name'].touched)"
                >
                <div class="invalid-feedback" *ngIf="this._form['name'].hasError('required')">
                    Campo <strong> Requerido</strong>
                </div>
            </div>

            <div class="mb-3">
                <label for="alias" class="form-label">Alias</label>
                <input
                    type="text"
                    class="form-control"
                    id="alias"
                    formControlName="alias"
                    [class.is-invalid]="this._form['alias'].invalid && (this._form['alias'].dirty || this._form['alias'].touched)"
                >
                <div class="invalid-feedback" *ngIf="this._form['alias'].hasError('required')">
                  Campo <strong> Requerido</strong>
                </div>
            </div>

            <div class="mb-3 form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    id="isActive"
                    formControlName="isActive"
                >
                <label class="form-check-label" for="isActive">
                    {{ isActiveControl?.value === true ? ('enable') : ('disable') }}
                </label>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4">
                <update-button (click)="save()" [disabled]="roleForm.invalid || saving()" [loading]="saving()" />
            </div>
        </div>
    </form>
</div>
