<div>
  <!-- Pantalla de carga -->
  <app-loading *ngIf="isLoading()" message="Cargando parametros..."></app-loading>

  <!-- Header -->
  <div
    class="d-flex flex-column border-bottom p-3 p-md-4 flex-md-row align-items-sm-center justify-content-sm-between"
  >
    <!-- Title -->
    <div class="h2 fw-bold">Campaña</div>
    <!-- Actions -->
    <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-3 mt-3 mt-sm-0">
      <!-- Search -->
      <search-input [pagination]="pagination()" (valueChanged)="searchInputChanged($event)" />

      <div class="d-flex gap-2 mt-3 mt-sm-0">
        <export-button (click)="download()" />
        <add-button routerLink="./add" />
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-grow-1 d-flex flex-column position-relative">
    <div class="table-responsive flex-grow-1 overflow-auto">
      <table mat-table [dataSource]="campahnas()" matSort [matSortDisableClear]="true" class="w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="text-center text-primary">#</th>
          <td mat-cell *matCellDef="let user; index as indexElement" class="text-center">
            {{ pagination()?.startIndex + indexElement }}
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Nombre</th>
          <td mat-cell *matCellDef="let campahna">
            {{ campahna.nombre }}
          </td>
        </ng-container>



        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Fecha de Inicio</th>
          <td mat-cell *matCellDef="let campahna">
            {{ campahna.fechaInicio }}
          </td>
        </ng-container>

        <ng-container matColumnDef="frutaNombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Fruta</th>
          <td mat-cell *matCellDef="let campahna">
            {{ campahna.frutaNombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Nombre Completo</th>
          <td mat-cell *matCellDef="let campahna">
            {{ campahna.nombreCompleto }}
          </td>
        </ng-container>



        <!-- Alias Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell text-primary">
            Descripcion
          </th>
          <td mat-cell *matCellDef="let campahna" class="d-none d-sm-table-cell">
            {{ campahna.descripcion }}
          </td>
        </ng-container>


        <!-- Active Column -->
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef class="text-center text-primary">Activo</th>
          <td mat-cell *matCellDef="let campahna" class="text-center">
            <active-button
              [active]="campahna.isActive"
              (click)="changeActive(campahna.id, campahna.isActive)"
            />
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center d-print-none"></th>
          <td mat-cell *matCellDef="let campahna" class="text-center d-print-none">
            <div class="d-inline-flex">
              <edit-button type="icon" [routerLink]="'./' + campahna.id" />
              <delete-button
                type="icon"
                appDeleteConfirmation
                (confirmationClick)="delete(campahna.id)"
              />
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="bg-light text-uppercase"
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="bg-light border-top w-100">
      <mat-paginator
        [ngClass]="{ 'disabled': isLoading() }"
        [length]="pagination()?.totalItems"
        [pageIndex]="pagination()?.page"
        [pageSize]="pagination()?.itemsPerPage"
        [pageSizeOptions]="paginationSizes"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </div>


</div>
