<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed border-end"
  colorScheme="dark"
  id="sidebar1"
  visible
>
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand [routerLink]="[]">
      <c-avatar src="./assets/images/logo-XS.webp" class="sidebar-brand-full" size="md" alt="Logo completo"></c-avatar> Intefruits Perú S.A.C.
      <c-avatar src="./assets/images/logo-64.webp" class="sidebar-brand-narrow" size="md" alt="Logo pequeño"></c-avatar>
    </c-sidebar-brand>
  </c-sidebar-header>

  <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover">
    <app-loading *ngIf="isLoading()" message="Cargando..."></app-loading>
    <c-sidebar-nav
      [navItems]="(navItems$ | async) || []"
      dropdownMode="close"
      compact />
  </ng-scrollbar>

  @if (!sidebar1.narrow) {
    <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable" style="cursor: pointer;">
      {{nombreFruta}} - {{nombrePeriodo}}
      <button cSidebarToggler aria-label="Toggle sidebar fold"></button>
    </c-sidebar-footer>
  }
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-default-header
    [cShadowOnScroll]="'sm'"
    class="mb-0 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky"
    sidebarId="sidebar1"
  />
  <!--app-body-->
  <div class="body d-flex flex-column flex-grow-1 position-relative align-items-center">
    <c-container class="px-0 d-flex flex-column flex-grow-1 m-0">
      <router-outlet  />
    </c-container>
  </div>

  <!--app footer-->
  <app-default-footer />
</div>
