<c-modal [visible]="visible" (visibleChange)="handleVisibleChange($event)" backdrop="static">
  <c-modal-header>
    <c-modal-title>Seleccionar Campaña de Trabajo</c-modal-title>
  </c-modal-header>
  <c-modal-body>
    <p>Seleccione la campaña para comenzar a registrar datos. Esto filtrará lotes, pallets y despachos.</p>
    <c-list-group>
      <button
        cListGroupItem
        *ngFor="let c of campahnas"
        (click)="seleccionar(c)"
        class="d-flex justify-content-between align-items-center">
        {{ c.nombre }}
        <span class="badge bg-primary">{{ c.frutaNombre }}</span>
      </button>
    </c-list-group>
  </c-modal-body>
</c-modal>
