<div class="d-flex flex-grow-1">
    <form
        autocomplete="off"
        class="d-flex flex-grow-1 flex-column overflow-auto p-3 pt-5 p-sm-4 pt-sm-5"
        [formGroup]="userForm"
    >
        <!-- Header -->
        <div class="mt-n2 d-flex align-items-center justify-content-between">
            <h3 class="fw-bold text-uppercase">Usuario - Nuevo</h3>
            <div class="d-flex align-items-center">
                <close-button [routerLink]="['../']" />
            </div>
        </div>

        <mat-divider class="mb-4 mt-3"></mat-divider>

        <div>
            <mat-form-field class="w-100" subscriptSizing="dynamic">
                <mat-label>Usuario</mat-label>
                <input matInput [formControlName]="'username'" [spellcheck]="false" #usernameField />
                @if (this._form['username'].hasError('required')) {
                    <mat-error> Campo <strong>requerido</strong> </mat-error>
                }
                @if (this._form['username'].hasError('minlength')) {
                    <mat-error> Mínimo <strong>4</strong> carácteres </mat-error>
                }
            </mat-form-field>

            <div class="mt-4">
                <mat-form-field class="w-100" subscriptSizing="dynamic">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [formControlName]="'password'" [spellcheck]="false" />
                    @if (this._form['password'].hasError('required')) {
                        <mat-error>
                            Campo
                            <strong>requerido</strong>
                        </mat-error>
                    }
                    @if (this._form['password'].hasError('minlength')) {
                        <mat-error> Mínimo <strong>6</strong> carácteres </mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="mt-4">
                <mat-form-field class="w-100" subscriptSizing="dynamic">
                    <mat-label>Nombre</mat-label>
                    <input matInput [formControlName]="'fullname'" [spellcheck]="false" />
                    @if (this._form['fullname'].hasError('required')) {
                        <mat-error>
                            Campo
                            <strong>requerido</strong>
                        </mat-error>
                    }
                    @if (this._form['fullname'].hasError('minlength')) {
                        <mat-error> Mínimo <strong>4</strong> carácteres </mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="mt-4">
                <!-- Roles -->
                <mat-form-field class="w-100" subscriptSizing="dynamic">
                    <mat-label>Roles</mat-label>
                    <mat-select [formControlName]="'roles'" multiple>
                      @for (role of roles$ | async; track role.id) {
                          <mat-option [value]="role.id">{{ role.name }}</mat-option>
                      }

                    </mat-select>
                    @if (this._form['roles'].hasError('required')) {
                        <mat-error>
                            Campo
                            <strong>requerido</strong>
                        </mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="mt-4">
                <!-- Roles -->
                <mat-form-field class="w-100" subscriptSizing="dynamic">
                    <mat-label>Genero</mat-label>
                    <mat-select [formControlName]="'gender'">
                        @for (parametro of parametros() | parametroShared: 'GENDER'; track parametro.id) {
                            <mat-option [value]="parametro.id">{{ parametro.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mt-4">
                <mat-slide-toggle [formControlName]="'isActive'" [color]="'primary'">
                    {{ isActiveControl?.value === true ? 'Habilitar' : 'Deshabilitar' }}
                </mat-slide-toggle>
            </div>
            <div class="mt-4 d-flex w-100 align-items-center justify-content-between">
                <save-button (click)="save()" [disabled]="userForm.invalid" [loading]="saving()"/>
            </div>
        </div>
    </form>
</div>
